{% extends 'dashboard.html' %}
{% block addcss %}
   <link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}">
{% endblock %}
{% block content %}
    <center>
        <form class = "form" method="post">
            <h1>Updatenotes</h1>
            <label>Title:</label><br/>
        <input type="text" name="title" placeholder="Enter a title" value="{{notesdata[1]}}"/><br/><br/>
           
            <label>Description:</label><br/>
            <textarea type="text" name="description" class="content-field" placeholder="write your content...." name="content">{{notesdata[2]}}</textarea><br/><br/>
            <button type="submit">Submit</button>
        </form>
        </center>
{% endblock %}
